.all-projects-container {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-left: -35px;
	margin-right: -35px;
}

.projects-section-header {
	font-size: 2.5rem;
	font-weight: 700;
	margin-bottom: 0px;
	margin-left: 0;
	margin-right: 0;
	text-align: left;
	color: #222;
	letter-spacing: 1px;
	font-family: var(--secondary-font);
}

.all-projects-project {
	width: calc(100% / 3);
	box-sizing: border-box;
	padding: 10px;
	overflow: hidden;
}

@media (max-width: 600px) {
	.all-projects-project {
		width: calc(100% / 2);
	}
}